body {
    font-size: 18px;
    width:586px;
    margin: auto;
}

h1, p {
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 2px;
  display: inline;
}

/* img {
    height: 24px;
    display: inline;
    justify-content: center;
    align-items: center;
} */

div {
    background-color: lightgrey;
    width:fit-content;
    border-radius: 6px;
    padding: 4px;
}

th {
    padding-bottom: 0px;
}

table {
    width: 570px;
    text-align: center;
    table-layout: fixed
}

#error  {
    background-color: rgb(255, 157, 157);
    margin-top: 8px;
    display: none;
}

.bold {
    font-weight: bold;
}

.categories  {
    margin-left: 4px;
}

.categories p {
    cursor: pointer;
    display: inline;
}

.three-vertical, .three-vertical table {
    display: inline-table;
    width: 181.5px
}

input {
    width: 80%;
    margin: 2px;
}

.six input {
    width: 75px;
    margin: 1px;
}

.border {
    
    width: 150px;
    background-color: white;
    border: 1px;
    border-color: #747474;
    border-style: solid;
    border-radius: 3px;
}

#chaCategory, #skiCategory, #equCategory, #comCategory, #magCategory, #perCategory, #setCategory, #bacCategory {
    background-color: white;
    display: none;
}